@use "./variables" as *;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}


@mixin button-reset {
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  font-family: inherit;
}


@mixin truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin card {
  background: $color-white;
  border-radius: $radius-md;
  box-shadow: $shadow-lg;
  cursor: pointer;
}

@mixin mobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin shimmer {
  position: relative;

  overflow: hidden;

  background: #e5e7eb;

  &::after {
    content: "";

    position: absolute;

    inset: 0;

    transform: translateX(-100%);

    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.7),
      transparent
    );

    animation: shimmer 1.5s infinite;
  }
}