@use "./variables" as *;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  font-family: Inter, sans-serif;
  background-color: $color-background;
  color: $color-text;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-bold;
}

p {
  margin: 0;
}


a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button{
  font: inherit;
}

button {
  cursor: pointer;
}

